<div class="row">
    <div class="=col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfilphoto.png" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre }} {{persona.apellido}}</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum labore, laudantium maiores harum deserunt impedit laborum pariatur ipsam corporis ab ipsa praesentium vero eveniet non voluptatem incidunt aut blanditiis laboriosam?</p>
        </span>
    </div>
</div>