
<div class="row">
  <h1>Hard & Soft skills</h1>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="83"
    [radius]="100"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#285cd7'"
    [innerStrokeColor]="'#000000'"
    [outerStrokeGradientStopColor]="'#5fe1f3'"
    [animation]="true"
    [animationDuration]="500"
    [startFromZero]="true"
    [showUnits]="false"
    [title]="'HTML'"
    [titleFontSize]="'2em'"
    [showSubtitle]="false"
>
</circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="100"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#285cd7'"
    [innerStrokeColor]="'#000000'"
    [outerStrokeGradientStopColor]="'#5fe1f3'"
    [animation]="true"
    [animationDuration]="500"
    [startFromZero]="true"
    [showUnits]="false"
    [title]="'CSS'"
    [titleFontSize]="'2em'"
    [showSubtitle]="false"
>
</circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="80"
    [radius]="100"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#285cd7'"
    [innerStrokeColor]="'#000000'"
    [outerStrokeGradientStopColor]="'#5fe1f3'"
    [animation]="true"
    [animationDuration]="500"
    [startFromZero]="true"
    [showUnits]="false"
    [title]="'JavaScript'"
    [titleFontSize]="'2em'"
    [showSubtitle]="false"
>
</circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="60"
    [radius]="100"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#285cd7'"
    [innerStrokeColor]="'#000000'"
    [outerStrokeGradientStopColor]="'#5fe1f3'"
    [animation]="true"
    [animationDuration]="500"
    [startFromZero]="true"
    [showUnits]="false"
    [title]="'GitHub'"
    [titleFontSize]="'2em'"
    [showSubtitle]="false"
>
</circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="80"
    [radius]="100"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#285cd7'"
    [innerStrokeColor]="'#000000'"
    [outerStrokeGradientStopColor]="'#5fe1f3'"
    [animation]="true"
    [animationDuration]="500"
    [startFromZero]="true"
    [showUnits]="false"
    [title]="'Ingles'"
    [titleFontSize]="'2em'"
    [showSubtitle]="false"
>
</circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="100"
    [radius]="100"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#285cd7'"
    [innerStrokeColor]="'#000000'"
    [outerStrokeGradientStopColor]="'#5fe1f3'"
    [animation]="true"
    [animationDuration]="500"
    [startFromZero]="true"
    [showUnits]="false"
    [title]="'Trabajo colaborativo'"
    [titleFontSize]="'1em'"
    [showSubtitle]="false"
>
</circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="100"
    [radius]="100"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#285cd7'"
    [innerStrokeColor]="'#000000'"
    [outerStrokeGradientStopColor]="'#5fe1f3'"
    [animation]="true"
    [animationDuration]="500"
    [startFromZero]="true"
    [showUnits]="false"
    [title]="'Comunicativo'"
    [titleFontSize]="'2em'"
    [showSubtitle]="false"
    
>
</circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="100"
    [radius]="100"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#285cd7'"
    [innerStrokeColor]="'#000000'"
    [outerStrokeGradientStopColor]="'#5fe1f3'"
    [animation]="true"
    [animationDuration]="500"
    [startFromZero]="true"
    [showUnits]="false"
    [title]="'Autodidacta'"
    [titleFontSize]="'2em'"
    [showSubtitle]="false"
>
</circle-progress>
  </div>
  
  
</div>
