<div class="row">
   <h1>Experiencia Laboral</h1>
   <div class="col-lg-1"></div>
   <div class="col-lg-11">
    <ul>
       <li>
           <h1>Farmacia interna de Hospital Privado</h1> - 
           <h3>(5 años)</h3></li> 
       <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi nemo dolore laborum non minima error, illo exercitationem aliquam eveniet dolorem amet animi quia in adipisci itaque dolor quibusdam voluptatem architecto.</p>
    </ul>
    <ul>
        <li><h1>Trabajo 2</h1> - 
            <h3>(1 años)</h3></li> 
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi nemo dolore laborum non minima error, illo exercitationem aliquam eveniet dolorem amet animi quia in adipisci itaque dolor quibusdam voluptatem architecto.</p>
     </ul><ul>
        <li>
            <h1>Trabajo 3</h1> - 
            <h3>(1 años)</h3></li> 
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi nemo dolore laborum non minima error, illo exercitationem aliquam eveniet dolorem amet animi quia in adipisci itaque dolor quibusdam voluptatem architecto.</p>
     </ul>
   </div>
</div>
