.row{
    background-color: rgb(156, 181, 237);
}
footer{
    color: #000000;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px 2px 5px #000000;

}